body{
    font-family: sans-serif;
    width:  100%;
    height: 100%;
    padding: 0%;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    background-color: rgb(137, 168, 204);
}
nav{
    height: 80px;
    width: 100%;
    background-color: rgba(52, 166, 211, 0.377);

}
label.logo{
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 0 100px;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:50px ;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 3px;
    text-decoration: none;
}
a:hover{
    background: rgb(69, 106, 224);
    transition: .5s;
}
#cf {
    position:relative;
    height:300px;
    width:100%;
  }
  #cf img {
    position:absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  #cf img.top:hover {
    opacity:0;
  }
  .header{
    width: 400px;
    height: 400px;
    margin-left: 120px;  
}
.pic{
    background-image: url(https://lh3.googleusercontent.com/-_9LNPehVTe5N16a4vuDQaw89iPvnBBmU77PscgXfrCd7ATuuz2237wXHMIbpaXMDnV1z59zOTw2oMYSgLCSNHKClje45Gxv6A=w960-rj-nu-e365);
    margin-top: -40px;
    width: 100%;
    height: 400px;
    background-size: cover;
}
.resum{
    width: 400px;
    height: 400px;
    margin-left: 420px;
    background-color: #ecf1f1a8;
    margin-top: -420px;
    color: rgb(0, 0, 0);
}
.resum h1{
    color: blue;
    margin-left: 10px;
}
.resum h5{
    margin-left: 10px;
    color: black;
}
.resum h4{
    margin-left: 10px;
}
.icon{
    height: 200pv;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}
.icon a{
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    line-height: 40px;
    box-shadow:2px 2px 0px 2px #0dc5c5;  

}
.icon li{
    transition: all 0.3s linear ;
}
.icon a:hover{
    transform: scale(1.1);
}
.container{
    margin-top: 150px;
    text-align: center;
    font-size: 20px;
}

.body-container{
    margin-top: 100px;
    text-align: center;
}
.flex-container {
    display: flex;
    justify-content: center;
  }
  
.flex-container > div:hover {
    background-color: #f1f1f1;
    width: 300px;
    margin: 20px;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
    border-radius: 30px;
    transform: scaleY(1.1);
  }
.flex-container> div h1{
      font-size: 23px;
      color: blue;
  }
.content1{
    margin-top: 150px;
    text-align: center;
}
.box3{
    height: 400px;
    width: 980px;
    background-color: rgb(255, 255, 255);
    color:black;
    display: flex;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
    text-align: center;

}

.box3 ul li{
    font-size: 20px;
}
.content2{
    margin-top: 200px;
    text-align: center;
}
.box4{
    height: 400px;
    width: 980px;
    background-color:  rgb(255, 255, 255);
    color:black;
    display: flex;
    font-size: 30px;
    margin-left: 50px;
    border-radius: 30px;

}
.box4 ul li{
    font-size: 20px;

}
.content3{
    margin-top: 200px;
    text-align: center;
}
.content3{
    margin-top: 200px;
    text-align: center;
}
.box4 ul{
    margin: auto;
}
.box5{
    height: 450px;
    width: auto;
    background-color: #ecf1f1;
    color:rgb(255, 255, 255);
    display: flex;
    text-align: center;
    font-size: 30px;

}
.Form-contact{
    width: 400px;
    height: 400px;
    margin:10px auto 10px;
    background: rgb(255, 255, 255);
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    margin-left: 10px;
}
.title{
    position: absolute;
    top:-10px;
    background: rgb(160, 160, 168);
    color: white;
    padding: 10px 20px;
    font-weight:700 ;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.title:before{
    content: "";
    position: absolute;
    top:0;
    left: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid rgb(185, 185, 189);
    border-top:5px solid transparent;
    border-bottom: 5px solid rgb(156, 156, 160);
}
.form-content{
    padding-top:30px;

}
.label{
    text-transform: capitalize;
    color: black;
    font-size: 20px;
    

}
.input{
    margin: 5px 10px 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border:3px solid rgb(145, 145, 145);
    color: rgb(0, 0, 0);
    font-size: 10px;
    outline: none;
    border-radius: 3px;
}
.btn{
   width: 350px; 
   background: blue;
   height: 40px;
   text-align: center;
   line-height: 40px;
   text-transform: uppercase;
   color: #fff;
   font-weight: bold;
   letter-spacing: 1px;
   cursor: pointer;
   margin-top:50px;
   border-radius: 3px;
   box-sizing: border-box;
}
.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    transform: scaleY(1.1);
}
.botton{
    width: 300px;
    height: 50px;
    background:blue;
    margin-top: 15px;
    border-radius: 40px;
    
}
.para{
    float: left;
    font-size: 15px;
    color: rgb(10, 182, 139);
    text-align: center;
    margin-left: 420px;
    margin-top: 5px;
}
.consntive{
    height: 100pv;
    display: flex;
    justify-content: center;
    align-items: center;
}
.consentive a{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 50px;
    box-shadow:1px 4px 2px 2px #0a8080;  

}
.consenivea li{
    transition: all 0.3s linear ;
}
.consentive a:hover{
    transform: scaleY(1.1);
}
.fa-facebook {
    color: #3B5998;
}
.fa-google {
    color: #dd4b39;
}
.fa-youtube {
    color: #fc0101;
}
.fa-instagram {
    columns: #125688;
}

.year{
    width: 100px;
    height: 40px;
    background:rgb(20, 154, 216);
    border:none;
    outline: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 10px;
}
.text{
    margin-left: 50px;
    margin-top: 20px;
}
